$fs: 7rem;
$co-tw: #1da1f2;
$co-be: #1769ff;
$co-fa: #1877f2;
$co-vi: #1ab7ea;
$co-sn: #fffc00;
$co-ai: #fd5c63;
$co-am: #ff9900;
$co-an: #a4c639;
$co-st: #f48024;
$co-ub: #77216f;
$co-gi: #4078c0;
$co-js: #f7df1e;